:root {
  
  --frontpage-color1:#c40414;
  --frontpage-color1b:#B01F24b0;  
  --frontpage-color1c:#B01F2488;
  --frontpage-color1d:#B01F243f;
  --frontpage-color1e:#B01F2415;
  --frontpage-color1f:#B01F2405;

  --frontpage-color2:#e4949b;
  --frontpage-color2b:#e4949bb0;  
  --frontpage-color2c:#e4949b88;
  --frontpage-color2d:#e4949b3f;
  --frontpage-color2e:#e4949b15;
  --frontpage-color2f:#e4949b05;

  --frontpage-color3:#bc0414;
  --frontpage-color3b:#bc0414b0;  
  --frontpage-color3c:#bc041488;
  --frontpage-color3d:#bc04143f;
  --frontpage-color3e:#bc041415;
  --frontpage-color3f:#bc041405;

  --frontpage-color4:#95030f;
  --frontpage-color4b:#95030fb0;
  --frontpage-color4c:#95030f88;
  --frontpage-color4d:#95030f3f;
  --frontpage-color4e:#95030f15;
  --frontpage-color4f:#95030f05;
  
  --frontpage-color5:#7a1e26;
  --frontpage-color5b:#7a1e26b0;
  --frontpage-color5c:#7a1e2688;
  --frontpage-color5d:#7a1e263f;
  --frontpage-color5e:#7a1e2615;
  --frontpage-color5f:#7a1e2605;
  /*--frontpage-color3:#fcb421;
  --frontpage-color3b:#fcb42125;*/
  --frontpage-color6:#64c3d1;
  --frontpage-color6b:#64c3d1b0;
  --frontpage-color6c:#64c3d188;
  --frontpage-color6d:#64c3d13f;
  --frontpage-color6e:#64c3d115;
  --frontpage-color6f:#64c3d105;

  --frontpage-color7:#1094ab;
  --frontpage-color7b:#1094abb0;
  --frontpage-color7c:#1094ab88;
  --frontpage-color7d:#1094ab3f;
  --frontpage-color7e:#1094ab15;
  --frontpage-color7f:#1094ab05;
  
  --frontpage-color2:#64c4d2;
  --frontpage-color2b:#64c3d1b0;
  --frontpage-color2c:#64c3d188;
  --frontpage-color2d:#64c3d13f;
  --frontpage-color2e:#64c3d115;
  --frontpage-color2f:#64c3d105;

  --frontpage-color8:#fcb421;
  --frontpage-color8b:#fcb421b0;
  --frontpage-color8c:#fcb42188;
  --frontpage-color8d:#fcb4213f;
  --frontpage-color8e:#fcb42115;
  --frontpage-color8f:#fcb42105;

  --frontpage-color9:#aaaaaa;
  --frontpage-color9b:#aaaaaab0;
  --frontpage-color9c:#aaaaaa88;
  --frontpage-color9d:#aaaaaa3f;
  --frontpage-color9e:#aaaaaa15;
  --frontpage-color9f:#aaaaaa05;


  --title-background:beige;
  --frontpage-icon-language:#ffeeff;
  --menu-link-active:black;
}

