.macusp-gallery  {
  --d: 10s; /* duration */
  
  display: grid;
  grid-template-columns: repeat(3,$w); /* number of visible images */
  gap: $g*$w;
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg,#0000,#000 5% 95%,#0000);
}
.gallery > img {
  grid-area: 1/1;
  width: 100%;
  aspect-ratio: 1.5;
  object-fit: cover;
  animation: r var(--d) linear infinite;
}
